{
  "deployment": [
    {
      "verticle": "com.cobox.vulture.HttpGatewayGroup",
      "enable": true, "instance": 1,
      "config": "./config/http_gateway.config",
      "comment": "HTTP协议网关节点"
    },
    {
      "verticle": "com.cobox.vulture.database.DataRepository",
      "enable": true, "instance": 1,
      "config": "./config/database.config",
      "comment": "数据库节点"
    },
    {
      "verticle": "com.cobox.vulture.nasserver.NasServer",
      "enable": true, "instance": 1,
      "config": "./config/nas.config",
      "comment": "NAS节点"
    },
    {
      "verticle": "com.cobox.vulture.userserver.UserServer",
      "enable": true, "instance": 1,
      "config": "./config/user.config",
      "comment": "用户管理节点"
    },
    {
      "verticle": "com.cobox.vulture.systemserver.SystemServer",
      "enable": true, "instance": 1,
      "config": "./config/system.config",
      "comment": "CPU、内存、系统温度、磁盘等硬件信息监控"
    },
    {
      "verticle": "com.cobox.vulture.ddnsserver.DdnsServer",
      "enable": false, "instance": 1,
      "config": "./config/vulture.config",
      "comment": "DDNS上报服务，上报本机的公网IP地址到DDNS"
    }
  ],

  "log": {
    "level": "verbose"
  },

  "protocol": {
    "quic_enable": false
  },

  "ddns": {
    "vendor": {
      "name": "dnspod",
      "api_key": "227706",
      "api_token": "1a0b69860a6799ba718cc51eaa1ec8ea"
    },
    "report_interval_sec": 600,
    "report_domain": "cocoonshu.com"
  }

}